<!-- main-wrapper -->
<div class = "wrapper">

  <!-- navigation-bar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <div class="container-fluid">
      <img src = "assets/images/logo.png" id="logoImg">
      <a class="navbar-brand" id = "logoTitle"><strong id ="nada">NADA</strong>MACURA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto " id = "mainUl">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="#">HOMEPAGE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">REFERENCES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">BLOG</a>
          </li>
          <li class="nav-item"  id = "Contact">
            <a class="nav-link mx-2" href="#">CONTACT</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link mx-2" id="disabled" href="#">SR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">EN</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>

    <!-- main landing text -->
    <div class="upperImageContainer">    
        <div class = "mainUpperText">
          <h1 id="upperTitle">Lorem Ipsum has<br> been the industry's.</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <button type="button" class="btn btn-primary">Tell me more</button>
        </div>
    </div>

    <!-- sports-grid section -->
    <div class = "middleSection">
      <h1 id="middleTitle">Train your train<span style="color:#2CC1DB">.</span></h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has<br> been the industry's standard  of the printing and typesetting industry text ever since the 1500s.<br>Lorem Ipsum is simply dummy text.</p>   
        <div class="container text-center" id="icons-grid">
          <div class="row row-cols-5">
            <div class="col" id="upperCol"><i class="fa-solid fa-person-walking" id="col-icon"></i><br><p>handball</p></div>
            <div class="col" id="upperCol"><i class="fa-solid fa-person-walking" id="col-icon"></i><br><p>football</p></div>
            <div class="col" id="upperCol"><i class="fa-solid fa-person-walking" id="col-icon"></i><br><p>volleyball</p></div>
            <div class="col" id="upperCol"><i class="fa-solid fa-person-walking" id="col-icon"></i><br><p>basketball</p></div>
            <div class="col" id="upperColRight"><i class="fa-solid fa-person-walking" id="col-icon"></i><br><p>shooting</p></div>
            <div class="col" id="lowerCol"><i class="fa-solid fa-person-walking" id="col-icon"></i><br><p>judo</p></div>
            <div class="col" id="lowerCol"><i class="fa-solid fa-person-walking" id="col-icon"></i><br><p>karate</p></div>
            <div class="col" id="lowerCol"><i class="fa-solid fa-person-walking" id="col-icon"></i><br><p>tennis</p></div>
            <div class="col" id="lowerCol"><i class="fa-solid fa-person-walking" id="col-icon"></i><br><p>athletics</p></div>
            <div class="col" id="lowerColRight"><i class="fa-solid fa-person-walking" id="col-icon"></i><br><p>biathlon</p></div>
          </div>
        </div>     
    </div>

    <!-- cards-grid section -->
    <div class = "cardsGridSection">
      <h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h1>
      <div class="container text-center" id ="cardsGridContainer">
        <div class="row row-cols-2 row-cols-lg-4 row-cols-sm-6">
          <div class="col">
            <div class="p-3">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour even slightly believable.</p>
            </div>
          </div>
          <div class="col">
            <div class="p-3" >ipsum lorem ipsum
              <p>There are many variations of passages of Lorem Ipsum available</p>
            </div>
          </div>
          <div class="col">
            <div class="p-3">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem</div>
          </div>
          <div class="col">
            <div class="p-3">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem</div>
          </div>
          <div class="col">
            <div class="p-3">ipsum lorem ipsum
              <p>There are many variations of passagese</p>
            </div>
          </div>
          <div class="col">
            <div class="p-3">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem</div>
          </div>
          <div class="col">
            <div class="p-3">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem</div>
          </div>
          <div class="col">
            <div class="p-3">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
              <p>There are many variations of passages of Lorem Ipsum available</p>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-light">All services</button>
    </div>
    
    <!-- large blue quote -->
    <div class="blueBoxQuote">
      <h4>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's" - Jack Welch</h4>
    </div>

    <!-- references section -->
    <div class="referencesSection">
      <h4>References.</h4>
      <p id = "reference">{{currentReference.text}}</p>
      <p id ="referencePerson">- {{currentReference.person}}</p>
      <p id ="referencePersonStatus">{{currentReference.title}}</p>
      <button type="button" class="btn btn-outline-light">All references</button>
      <div class="btn-group-vertical" id="referenceSelectors" role="group" aria-label="Vertical radio toggle button group">
        <input type="radio" class="btn-check" (click) = "changeReference(0)" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked>
        <label class="btn btn-outline-info" for="vbtn-radio1" id="selectorSquare"></label>
        <input type="radio" (click) = "changeReference(1)"class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
        <label class="btn btn-outline-info" for="vbtn-radio2" id="selectorSquare"></label>
        <input type="radio" class="btn-check"(click) = "changeReference(2)"name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
        <label class="btn btn-outline-info" for="vbtn-radio3" id="selectorSquare"></label>
        <input type="radio" class="btn-check" (click) = "changeReference(3)" name="vbtn-radio" id="vbtn-radio4" autocomplete="off">
        <label class="btn btn-outline-info" for="vbtn-radio4" id="selectorSquare"></label>
        <input type="radio" class="btn-check" (click) = "changeReference(4)" name="vbtn-radio" id="vbtn-radio5" autocomplete="off">
        <label class="btn btn-outline-info" for="vbtn-radio5" id="selectorSquare"></label>
        <input type="radio" class="btn-check" (click) = "changeReference(5)" name="vbtn-radio" id="vbtn-radio6" autocomplete="off">
        <label class="btn btn-outline-info" for="vbtn-radio6" id="selectorSquare"></label>
        <input type="radio" class="btn-check" (click) = "changeReference(6)" name="vbtn-radio" id="vbtn-radio7" autocomplete="off">
        <label class="btn btn-outline-info" for="vbtn-radio7" id="selectorSquare"></label>
        <input type="radio" class="btn-check" (click) = "changeReference(7)" name="vbtn-radio" id="vbtn-radio8" autocomplete="off">
        <label class="btn btn-outline-info" for="vbtn-radio8" id="selectorSquare"></label>
        <input type="radio" class="btn-check"  (click) = "changeReference(8)"name="vbtn-radio" id="vbtn-radio9" autocomplete="off">
        <label class="btn btn-outline-info"  for="vbtn-radio9" id="selectorSquare"></label>
        <input type="radio" class="btn-check" (click) = "changeReference(9)" name="vbtn-radio" id="vbtn-radio10" autocomplete="off">
        <label class="btn btn-outline-info"  for="vbtn-radio10" id="selectorSquare"></label>
        <input type="radio" class="btn-check" (click) = "changeReference(10)" name="vbtn-radio" id="vbtn-radio11" autocomplete="off">
        <label class="btn btn-outline-info" for="vbtn-radio11" id="selectorSquare"></label>
      </div>
      <div class = "referenceImage" id="refImage">
        <img src ="{{currentReference.image}}">
      </div>
    </div>
    
    <!-- about me section -->
    <div class = "aboutMeSection">
      <h4>About me</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum  of the printing and typesetting industry. Lorem Ipsum has been the industry Lorem Ipsum has been the industry's standard dummy text</p>
      <div class = "meImage">
        <img src ="assets/images/ja.jpg">
      </div>
      <button type="button" class="btn btn-outline-light">Get to know me</button>
    </div>

    <!-- latest from the blog -->
    <div class ="latestBlogSection">
      <h4>Latest from the blog<span style="color:#2CC1DB">.</span></h4>
      <div class="container text-center" id="blogContainer">
        <div class="row" style=" height:100%">
          <div class ="col-lg-6" id="blogCol" style="padding:0">
            <img src="assets/images/running.jpeg">
          </div>
          <div class ="col-lg-6" id="blogCol" style="padding:0">
            <div class="row" style= "height:50%;">
              <div class ="col-lg-12" id="blogCol" style="padding:0">
                <img src="assets/images/deadlift.jpg">
              </div>
            </div>
            <div class="row"  style= "height:50%;">
              <div class ="col-lg-6" id="blogCol" style="padding:0">
                <img src="assets/images/biking.jpg" style="padding-right:0.35vw">
              </div>
              <div class ="col-lg-6" id="blogCol" style="padding:0">
                <img src="assets/images/boxer.jpg" style="padding-left:0.35vw">
              </div> 
            </div>
          </div>
        </div>       
      </div>
    </div>

    <!-- Contact me -->
    <div class="contactMeSection">
      <h4>McClintock, a Latin professor</h4>
      <button type="button" class="btn btn-primary">Contact me</button>
    </div>

    <div class = "footer">
        <div class="leftSideFooter">
          <img src = "assets/images/logo.png" id="footerLogo">
          <a class="navbar-brand" id = "footerLogoTitle"><strong id ="nada">NADA</strong>MACURA</a>
          <hr id =  "footerHr">
          <p>Photography copyrights: <a href ="#" style="color: #2CC1DB;">Neki link</a> | <a href ="#" style="color: #2CC1DB;">Neki neki link.</a></p>
        </div>

        <div class = "rightSideFooter">
          <ul class="nav">
            <li class="nav-col">
              <a class="nav-link active" href="#">HOMEPAGE</a>
            </li>
            <li class="nav-col">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="nav-col">
              <a class="nav-link" href="#">SERVICES</a>
            </li>
            <li class="nav-col">
              <a class="nav-link" href="#">REFERENCES</a>
            </li>
            <li class="nav-col">
              <a class="nav-link" href="#">BLOG</a>
            </li>
            <li class="nav-col">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
          </ul>
         
          <hr id =  "footerHr">
          <p>Design and development: <a href ="#" style="color: #2CC1DB;">PopArt Studio</a></p>
          <i class="fa-brands fa-linkedin-in" id="linkedin"></i>
          <i class="fa-brands fa-facebook-f" id ="facebook"></i>
          <i class="fa-brands fa-instagram" id = "instagram"></i>
        </div>
    </div>

</div>